<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
  	<head th:include="commons/header :: header"></head>
    <title>deptList</title>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta charset="utf-8">
	<script th:src="@{/js/appjs/manager/core_dictionaries_group/core_dictionaries_group_list.js}"></script>
  </head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div id="groupTableToolbar" class="columns pull-left">
							<button type="button" class="btn btn-primary" title="在根节点下添加字典组" onclick="add('0','add')" sec:authorize="hasRole('ROLE_CORE_DICTIONARIESGROUP_ADD_EDIT')">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
						</div>
	                    <div class="columns pull-right">
	                        <button class="btn btn-success" onclick="queryTable()">查询</button>
	                    </div>
	                    <div class="columns pull-right col-md-2 nopadding">
	                        <input id="dictGroupName" name="dictGroupName" type="text" class="form-control" placeholder="字典组名称">
	                    </div>   
                    </div>                 					
					<table id="groupTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
		<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案-->
		<div>
			<script type="text/javascript">
 				var s_add_h = 'hidden';
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_view_h = 'hidden';
			</script>
		</div>
		<div>
			<div sec:authorize="hasRole('ROLE_CORE_DICTIONARIESGROUP_ADD_EDIT')">
			<script type="text/javascript">
				s_add_h = '';
				s_edit_h = '';
			</script>
			</div>
			<div sec:authorize="hasRole('ROLE_CORE_DICTIONARIESGROUP_DEL')">
			<script type="text/javascript">
				s_remove_h = '';
			</script>
			</div>
			<div sec:authorize="hasRole('ROLE_CORE_DICTIONARIESGROUP_ADD_EDIT_PAGE')">
			<script type="text/javascript">
				s_view_h = '';
			</script>
			</div>		
		</div>	
	</div>
</body>
</html>