<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<head th:include="commons/header :: header"></head>
    <title>403</title>
    <meta charset="utf-8">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
  </head>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<label>没有权限！</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>