<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>用户列表</title>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap3/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap3/css/bootstrap-theme.min.css}"/>
	<script type="text/javascript" th:src="@{/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/jquery/jquery.form.js}"></script>
	<script type="text/javascript">
		function addUser(){
			$('#myModal').modal('show');
		}
		
	</script>
</head>
<body>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-body">
				<ol class="breadcrumb">
				  <li><a href="#">首页</a></li>
				  <li class="active">用户管理</li>
				</ol>
				<button type="button" class="btn btn-primary"  onclick="addUser()">新增</button>
				<form th:action="@{/userController/userList}" method="post" class="navbar-form navbar-right" role="search">
				  <div class="form-group">
				  	<label for="userName">用户名:</label>
				    <input id="userName" name="userName" type="text" class="form-control" th:value="${userName}">
				    <label for="phone">电话:</label>
				    <input id="phone" name="phone" type="text" class="form-control" th:value="${phone}">
				  </div>
				  <button type="submit" class="btn btn-default">搜索</button>
				</form>		
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th class="text-center">用户名</th>
							<th class="text-center">密码</th>
							<th class="text-center">电话</th>
							<th class="text-center" style="width: 200px">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user:${pageInfo.list}">
							<td class="text-center" th:text="${user.userName}"></td>
							<td class="text-center" th:text="${user.password}"></td>
							<td class="text-center" th:text="${user.phone}"></td>
							<td class="text-center">
								<input type="button" class="btn btn-info btn-xs" value="查看" th:onclick="${user.userId}">
								<input type="button" class="btn btn-primary btn-xs" value="修改">
								<input type="button" class="btn btn-warning btn-xs" value="删除">
							</td>				
						</tr>
					</tbody>
				</table><span th:id="${sb}"></span>
				<div class="col-sm-offset-4 col-sm-4">	
					<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li><a th:href="@{/userController/userList?pageNum=1}+${sb}">首页</a></li>
					    <li th:class="${pageInfo.hasPreviousPage==false}?'disabled'"><a th:href="@{/userController/userList?pageNum=}+${pageInfo.pageNum-1}+${sb}">上一页</a></li>
					    <li th:class="${pageInfo.hasNextPage==false}?'disabled'"><a th:href="@{/userController/userList?pageNum=}+${pageInfo.pageNum+1}+${sb}">下一页</a></li>
					    <li><a th:href="@{/userController/userList?pageNum=}+${pageInfo.pages}+${sb}">末页</a></li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
		
	<!-- 模态框（Modal） -->
	<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
</body>
</html>