<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<head th:include="commons/header :: header"></head>
	<title>用户列表</title>
	<script type="text/javascript" th:src="@{/js/appjs/user/user_list.js}"></script>
</head>
<body>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-body">
				<button type="button" class="btn btn-primary" onclick="add()">新增</button>
				<form th:action="@{/userController/userList}" method="post" class="navbar-form navbar-right" role="search">
				  <div class="form-group">
				  	<label for="userName">用户名:</label>
				    <input id="userName" name="userName" type="text" class="form-control" th:value="${userName}">
				    <label for="phone">电话:</label>
				    <input id="phone" name="phone" type="text" class="form-control" th:value="${phone}">
				  </div>
				  <button type="submit" class="btn btn-primary">搜索</button>
				</form>		
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th class="text-center">用户名</th>
							<th class="text-center">密码</th>
							<th class="text-center">电话</th>
							<th class="text-center" style="width: 200px">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user:${pageInfo.list}">
							<td class="text-center" th:text="${user.userName}"></td>
							<td class="text-center" th:text="${user.password}"></td>
							<td class="text-center" th:text="${user.phone}"></td>
							<td class="text-center">
								<input type="button" class="btn btn-info btn-xs" value="查看" th:onclick="${user.userId}">
								<input type="button" class="btn btn-primary btn-xs" value="修改">
								<input type="button" class="btn btn-warning btn-xs" value="删除">
							</td>				
						</tr>
					</tbody>
				</table><span th:id="${sb}"></span>
				<div class="col-sm-offset-4 col-sm-4">	
					<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li><a th:href="@{/userController/userList?pageNum=1}+${sb}">首页</a></li>
					    <li th:class="${pageInfo.hasPreviousPage==false}?'disabled'"><a th:href="@{/userController/userList?pageNum=}+${pageInfo.pageNum-1}+${sb}">上一页</a></li>
					    <li th:class="${pageInfo.hasNextPage==false}?'disabled'"><a th:href="@{/userController/userList?pageNum=}+${pageInfo.pageNum+1}+${sb}">下一页</a></li>
					    <li><a th:href="@{/userController/userList?pageNum=}+${pageInfo.pages}+${sb}">末页</a></li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
</div>
</body>
</html>