<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ys.core.dao.CoreUserRoleMapper">
	<insert id="insertCoreUserRole"  parameterType="org.ys.core.model.CoreUserRole">
		INSERT INTO core_user_role(core_user_id, core_role_id)
		VALUES(#{coreUserId},#{coreRoleId})
	</insert>
	<delete id="delCoreUserRoleByUserId" parameterType="java.lang.Long">
		delete from core_user_role where core_user_id=#{coreUserId}
	</delete>
	
	<delete id="delCoreUserRoleByRoleId" parameterType="java.lang.Long">
		delete from core_user_role where core_role_id=#{coreRoleId}
	</delete>
</mapper>